// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace LinkedAccountsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LinkedAccountsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LinkedAccountsClient.Options>;

    constructor(options: LinkedAccountsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List linked accounts for your organization.
     *
     * @param {Merge.fileStorage.LinkedAccountsListRequest} request
     * @param {LinkedAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fileStorage.linkedAccounts.list({
     *         category: "accounting",
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         endUserEmailAddress: "end_user_email_address",
     *         endUserOrganizationName: "end_user_organization_name",
     *         endUserOriginId: "end_user_origin_id",
     *         endUserOriginIds: "end_user_origin_ids",
     *         id: "id",
     *         ids: "ids",
     *         includeDuplicates: true,
     *         integrationName: "integration_name",
     *         isTestAccount: "is_test_account",
     *         pageSize: 1,
     *         status: "status"
     *     })
     */
    public async list(
        request: Merge.fileStorage.LinkedAccountsListRequest = {},
        requestOptions?: LinkedAccountsClient.RequestOptions,
    ): Promise<
        core.Page<Merge.fileStorage.AccountDetailsAndActions, Merge.fileStorage.PaginatedAccountDetailsAndActionsList>
    > {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.fileStorage.LinkedAccountsListRequest,
            ): Promise<core.WithRawResponse<Merge.fileStorage.PaginatedAccountDetailsAndActionsList>> => {
                const {
                    category,
                    cursor,
                    endUserEmailAddress,
                    endUserOrganizationName,
                    endUserOriginId,
                    endUserOriginIds,
                    id,
                    ids,
                    includeDuplicates,
                    integrationName,
                    isTestAccount,
                    pageSize,
                    status,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    category:
                        category != null
                            ? serializers.fileStorage.LinkedAccountsListRequestCategory.jsonOrThrow(category, {
                                  unrecognizedObjectKeys: "strip",
                              })
                            : undefined,
                    cursor,
                    end_user_email_address: endUserEmailAddress,
                    end_user_organization_name: endUserOrganizationName,
                    end_user_origin_id: endUserOriginId,
                    end_user_origin_ids: endUserOriginIds,
                    id,
                    ids,
                    include_duplicates: includeDuplicates,
                    integration_name: integrationName,
                    is_test_account: isTestAccount,
                    page_size: pageSize,
                    status,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "filestorage/v1/linked-accounts",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.fileStorage.PaginatedAccountDetailsAndActionsList.parseOrThrow(
                            _response.body,
                            {
                                unrecognizedObjectKeys: "passthrough",
                                allowUnrecognizedUnionMembers: true,
                                allowUnrecognizedEnumValues: true,
                                skipValidation: true,
                                breadcrumbsPrefix: ["response"],
                            },
                        ),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/filestorage/v1/linked-accounts",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<
            Merge.fileStorage.AccountDetailsAndActions,
            Merge.fileStorage.PaginatedAccountDetailsAndActionsList
        >({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }
}
