// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace AttachmentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AttachmentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AttachmentsClient.Options>;

    constructor(options: AttachmentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `Attachment` objects.
     *
     * @param {Merge.ats.AttachmentsListRequest} request
     * @param {AttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.attachments.list({
     *         candidateId: "candidate_id",
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         expand: "candidate",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteFields: "attachment_type",
     *         remoteId: "remote_id",
     *         showEnumOrigins: "attachment_type"
     *     })
     */
    public list(
        request: Merge.ats.AttachmentsListRequest = {},
        requestOptions?: AttachmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ats.PaginatedAttachmentList> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Merge.ats.AttachmentsListRequest = {},
        requestOptions?: AttachmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ats.PaginatedAttachmentList>> {
        const {
            candidateId,
            createdAfter,
            createdBefore,
            cursor,
            expand,
            includeDeletedData,
            includeRemoteData,
            includeShellData,
            modifiedAfter,
            modifiedBefore,
            pageSize,
            remoteFields,
            remoteId,
            showEnumOrigins,
        } = request;
        const _queryParams: Record<string, unknown> = {
            candidate_id: candidateId,
            created_after: createdAfter?.toISOString(),
            created_before: createdBefore?.toISOString(),
            cursor,
            expand: expand != null ? expand : undefined,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            modified_after: modifiedAfter?.toISOString(),
            modified_before: modifiedBefore?.toISOString(),
            page_size: pageSize,
            remote_fields: remoteFields != null ? remoteFields : undefined,
            remote_id: remoteId,
            show_enum_origins: showEnumOrigins != null ? showEnumOrigins : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "ats/v1/attachments",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ats.PaginatedAttachmentList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/ats/v1/attachments");
    }

    /**
     * Creates an `Attachment` object with the given values.
     *
     * @param {Merge.ats.AttachmentEndpointRequest} request
     * @param {AttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.attachments.create({
     *         isDebugMode: true,
     *         runAsync: true,
     *         model: {},
     *         remoteUserId: "remote_user_id"
     *     })
     */
    public create(
        request: Merge.ats.AttachmentEndpointRequest,
        requestOptions?: AttachmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ats.AttachmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Merge.ats.AttachmentEndpointRequest,
        requestOptions?: AttachmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ats.AttachmentResponse>> {
        const { isDebugMode, runAsync, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "ats/v1/attachments",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.ats.AttachmentEndpointRequest.jsonOrThrow(_body, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ats.AttachmentResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/ats/v1/attachments");
    }

    /**
     * Returns an `Attachment` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.ats.AttachmentsRetrieveRequest} request
     * @param {AttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.attachments.retrieve("id", {
     *         expand: "candidate",
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         remoteFields: "attachment_type",
     *         showEnumOrigins: "attachment_type"
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.ats.AttachmentsRetrieveRequest = {},
        requestOptions?: AttachmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ats.Attachment> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.ats.AttachmentsRetrieveRequest = {},
        requestOptions?: AttachmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ats.Attachment>> {
        const { expand, includeRemoteData, includeShellData, remoteFields, showEnumOrigins } = request;
        const _queryParams: Record<string, unknown> = {
            expand: expand != null ? expand : undefined,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            remote_fields: remoteFields != null ? remoteFields : undefined,
            show_enum_origins: showEnumOrigins != null ? showEnumOrigins : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `ats/v1/attachments/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ats.Attachment.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/ats/v1/attachments/{id}");
    }

    /**
     * Returns metadata for `Attachment` POSTs.
     *
     * @param {AttachmentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.attachments.metaPostRetrieve()
     */
    public metaPostRetrieve(
        requestOptions?: AttachmentsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ats.MetaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__metaPostRetrieve(requestOptions));
    }

    private async __metaPostRetrieve(
        requestOptions?: AttachmentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ats.MetaResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "ats/v1/attachments/meta/post",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ats.MetaResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/ats/v1/attachments/meta/post");
    }
}
