// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace IssuesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class IssuesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IssuesClient.Options>;

    constructor(options: IssuesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets all issues for Organization.
     *
     * @param {Merge.filestorage.IssuesListRequest} request
     * @param {IssuesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.filestorage.issues.list({
     *         accountToken: "account_token",
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         endDate: "end_date",
     *         endUserOrganizationName: "end_user_organization_name",
     *         firstIncidentTimeAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         firstIncidentTimeBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         includeMuted: "include_muted",
     *         integrationName: "integration_name",
     *         lastIncidentTimeAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         lastIncidentTimeBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         linkedAccountId: "linked_account_id",
     *         pageSize: 1,
     *         startDate: "start_date",
     *         status: "ONGOING"
     *     })
     */
    public list(
        request: Merge.filestorage.IssuesListRequest = {},
        requestOptions?: IssuesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.filestorage.PaginatedIssueList> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Merge.filestorage.IssuesListRequest = {},
        requestOptions?: IssuesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.filestorage.PaginatedIssueList>> {
        const {
            accountToken,
            cursor,
            endDate,
            endUserOrganizationName,
            firstIncidentTimeAfter,
            firstIncidentTimeBefore,
            includeMuted,
            integrationName,
            lastIncidentTimeAfter,
            lastIncidentTimeBefore,
            linkedAccountId,
            pageSize,
            startDate,
            status,
        } = request;
        const _queryParams: Record<string, unknown> = {
            account_token: accountToken,
            cursor,
            end_date: endDate,
            end_user_organization_name: endUserOrganizationName,
            first_incident_time_after: firstIncidentTimeAfter?.toISOString(),
            first_incident_time_before: firstIncidentTimeBefore?.toISOString(),
            include_muted: includeMuted,
            integration_name: integrationName,
            last_incident_time_after: lastIncidentTimeAfter?.toISOString(),
            last_incident_time_before: lastIncidentTimeBefore?.toISOString(),
            linked_account_id: linkedAccountId,
            page_size: pageSize,
            start_date: startDate,
            status:
                status != null
                    ? serializers.filestorage.IssuesListRequestStatus.jsonOrThrow(status, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "filestorage/v1/issues",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.filestorage.PaginatedIssueList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/filestorage/v1/issues");
    }

    /**
     * Get a specific issue.
     *
     * @param {string} id
     * @param {IssuesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.filestorage.issues.retrieve("id")
     */
    public retrieve(
        id: string,
        requestOptions?: IssuesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.filestorage.Issue> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, requestOptions));
    }

    private async __retrieve(
        id: string,
        requestOptions?: IssuesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.filestorage.Issue>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `filestorage/v1/issues/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.filestorage.Issue.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/filestorage/v1/issues/{id}");
    }
}
