// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace AsyncPassthroughClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AsyncPassthroughClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AsyncPassthroughClient.Options>;

    constructor(options: AsyncPassthroughClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Asynchronously pull data from an endpoint not currently supported by Merge.
     *
     * @param {Merge.fileStorage.DataPassthroughRequest} request
     * @param {AsyncPassthroughClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fileStorage.asyncPassthrough.create({
     *         method: "GET",
     *         path: "/scooters"
     *     })
     */
    public create(
        request: Merge.fileStorage.DataPassthroughRequest,
        requestOptions?: AsyncPassthroughClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.fileStorage.AsyncPassthroughReciept> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Merge.fileStorage.DataPassthroughRequest,
        requestOptions?: AsyncPassthroughClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.fileStorage.AsyncPassthroughReciept>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "filestorage/v1/async-passthrough",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.fileStorage.DataPassthroughRequest.jsonOrThrow(request, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.fileStorage.AsyncPassthroughReciept.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/filestorage/v1/async-passthrough",
        );
    }

    /**
     * Retrieves data from earlier async-passthrough POST request
     *
     * @param {string} async_passthrough_receipt_id
     * @param {AsyncPassthroughClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.fileStorage.asyncPassthrough.retrieve("async_passthrough_receipt_id")
     */
    public retrieve(
        async_passthrough_receipt_id: string,
        requestOptions?: AsyncPassthroughClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.fileStorage.AsyncPassthroughRetrieveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(async_passthrough_receipt_id, requestOptions));
    }

    private async __retrieve(
        async_passthrough_receipt_id: string,
        requestOptions?: AsyncPassthroughClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.fileStorage.AsyncPassthroughRetrieveResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `filestorage/v1/async-passthrough/${core.url.encodePathParam(async_passthrough_receipt_id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.fileStorage.AsyncPassthroughRetrieveResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/filestorage/v1/async-passthrough/{async_passthrough_receipt_id}",
        );
    }
}
