// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace CustomObjectsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CustomObjectsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CustomObjectsClient.Options>;

    constructor(options: CustomObjectsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `CustomObject` objects.
     *
     * @param {string} custom_object_class_id
     * @param {Merge.crm.CustomObjectClassesCustomObjectsListRequest} request
     * @param {CustomObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.customObjects.customObjectClassesCustomObjectsList("custom_object_class_id", {
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteId: "remote_id"
     *     })
     */
    public async customObjectClassesCustomObjectsList(
        custom_object_class_id: string,
        request: Merge.crm.CustomObjectClassesCustomObjectsListRequest = {},
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): Promise<core.Page<Merge.crm.CustomObject, Merge.crm.PaginatedCustomObjectList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.crm.CustomObjectClassesCustomObjectsListRequest,
            ): Promise<core.WithRawResponse<Merge.crm.PaginatedCustomObjectList>> => {
                const {
                    createdAfter,
                    createdBefore,
                    cursor,
                    includeDeletedData,
                    includeRemoteData,
                    includeRemoteFields,
                    includeShellData,
                    modifiedAfter,
                    modifiedBefore,
                    pageSize,
                    remoteId,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    created_after: createdAfter?.toISOString(),
                    created_before: createdBefore?.toISOString(),
                    cursor,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_remote_fields: includeRemoteFields,
                    include_shell_data: includeShellData,
                    modified_after: modifiedAfter?.toISOString(),
                    modified_before: modifiedBefore?.toISOString(),
                    page_size: pageSize,
                    remote_id: remoteId,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        `crm/v1/custom-object-classes/${core.url.encodePathParam(custom_object_class_id)}/custom-objects`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.crm.PaginatedCustomObjectList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/crm/v1/custom-object-classes/{custom_object_class_id}/custom-objects",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.crm.CustomObject, Merge.crm.PaginatedCustomObjectList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }

    /**
     * Creates a `CustomObject` object with the given values.
     *
     * @param {string} custom_object_class_id
     * @param {Merge.crm.CrmCustomObjectEndpointRequest} request
     * @param {CustomObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.customObjects.customObjectClassesCustomObjectsCreate("custom_object_class_id", {
     *         isDebugMode: true,
     *         runAsync: true,
     *         model: {
     *             fields: {
     *                 "test_field": "hello"
     *             }
     *         }
     *     })
     */
    public customObjectClassesCustomObjectsCreate(
        custom_object_class_id: string,
        request: Merge.crm.CrmCustomObjectEndpointRequest,
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.CrmCustomObjectResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__customObjectClassesCustomObjectsCreate(custom_object_class_id, request, requestOptions),
        );
    }

    private async __customObjectClassesCustomObjectsCreate(
        custom_object_class_id: string,
        request: Merge.crm.CrmCustomObjectEndpointRequest,
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.CrmCustomObjectResponse>> {
        const { isDebugMode, runAsync, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `crm/v1/custom-object-classes/${core.url.encodePathParam(custom_object_class_id)}/custom-objects`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.crm.CrmCustomObjectEndpointRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.CrmCustomObjectResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/crm/v1/custom-object-classes/{custom_object_class_id}/custom-objects",
        );
    }

    /**
     * Returns a `CustomObject` object with the given `id`.
     *
     * @param {string} custom_object_class_id
     * @param {string} id
     * @param {Merge.crm.CustomObjectClassesCustomObjectsRetrieveRequest} request
     * @param {CustomObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.customObjects.customObjectClassesCustomObjectsRetrieve("custom_object_class_id", "id", {
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true
     *     })
     */
    public customObjectClassesCustomObjectsRetrieve(
        custom_object_class_id: string,
        id: string,
        request: Merge.crm.CustomObjectClassesCustomObjectsRetrieveRequest = {},
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.CustomObject> {
        return core.HttpResponsePromise.fromPromise(
            this.__customObjectClassesCustomObjectsRetrieve(custom_object_class_id, id, request, requestOptions),
        );
    }

    private async __customObjectClassesCustomObjectsRetrieve(
        custom_object_class_id: string,
        id: string,
        request: Merge.crm.CustomObjectClassesCustomObjectsRetrieveRequest = {},
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.CustomObject>> {
        const { includeRemoteData, includeRemoteFields, includeShellData } = request;
        const _queryParams: Record<string, unknown> = {
            include_remote_data: includeRemoteData,
            include_remote_fields: includeRemoteFields,
            include_shell_data: includeShellData,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `crm/v1/custom-object-classes/${core.url.encodePathParam(custom_object_class_id)}/custom-objects/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.CustomObject.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/crm/v1/custom-object-classes/{custom_object_class_id}/custom-objects/{id}",
        );
    }

    /**
     * Returns metadata for `CRMCustomObject` POSTs.
     *
     * @param {string} custom_object_class_id
     * @param {CustomObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.customObjects.customObjectClassesCustomObjectsMetaPostRetrieve("custom_object_class_id")
     */
    public customObjectClassesCustomObjectsMetaPostRetrieve(
        custom_object_class_id: string,
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.MetaResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__customObjectClassesCustomObjectsMetaPostRetrieve(custom_object_class_id, requestOptions),
        );
    }

    private async __customObjectClassesCustomObjectsMetaPostRetrieve(
        custom_object_class_id: string,
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.MetaResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `crm/v1/custom-object-classes/${core.url.encodePathParam(custom_object_class_id)}/custom-objects/meta/post`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.MetaResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/crm/v1/custom-object-classes/{custom_object_class_id}/custom-objects/meta/post",
        );
    }

    /**
     * Returns a list of `RemoteFieldClass` objects.
     *
     * @param {Merge.crm.CustomObjectClassesCustomObjectsRemoteFieldClassesListRequest} request
     * @param {CustomObjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.customObjects.customObjectClassesCustomObjectsRemoteFieldClassesList({
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true,
     *         isCommonModelField: true,
     *         isCustom: true,
     *         pageSize: 1
     *     })
     */
    public async customObjectClassesCustomObjectsRemoteFieldClassesList(
        request: Merge.crm.CustomObjectClassesCustomObjectsRemoteFieldClassesListRequest = {},
        requestOptions?: CustomObjectsClient.RequestOptions,
    ): Promise<core.Page<Merge.crm.RemoteFieldClass, Merge.crm.PaginatedRemoteFieldClassList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.crm.CustomObjectClassesCustomObjectsRemoteFieldClassesListRequest,
            ): Promise<core.WithRawResponse<Merge.crm.PaginatedRemoteFieldClassList>> => {
                const {
                    cursor,
                    includeDeletedData,
                    includeRemoteData,
                    includeRemoteFields,
                    includeShellData,
                    isCommonModelField,
                    isCustom,
                    pageSize,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_remote_fields: includeRemoteFields,
                    include_shell_data: includeShellData,
                    is_common_model_field: isCommonModelField,
                    is_custom: isCustom,
                    page_size: pageSize,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "crm/v1/custom-object-classes/custom-objects/remote-field-classes",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.crm.PaginatedRemoteFieldClassList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/crm/v1/custom-object-classes/custom-objects/remote-field-classes",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.crm.RemoteFieldClass, Merge.crm.PaginatedRemoteFieldClassList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }
}
