// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace JobInterviewStagesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class JobInterviewStagesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JobInterviewStagesClient.Options>;

    constructor(options: JobInterviewStagesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `JobInterviewStage` objects.
     *
     * @param {Merge.ats.JobInterviewStagesListRequest} request
     * @param {JobInterviewStagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.jobInterviewStages.list({
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         jobId: "job_id",
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteId: "remote_id"
     *     })
     */
    public async list(
        request: Merge.ats.JobInterviewStagesListRequest = {},
        requestOptions?: JobInterviewStagesClient.RequestOptions,
    ): Promise<core.Page<Merge.ats.JobInterviewStage, Merge.ats.PaginatedJobInterviewStageList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.ats.JobInterviewStagesListRequest,
            ): Promise<core.WithRawResponse<Merge.ats.PaginatedJobInterviewStageList>> => {
                const {
                    createdAfter,
                    createdBefore,
                    cursor,
                    expand,
                    includeDeletedData,
                    includeRemoteData,
                    includeShellData,
                    jobId,
                    modifiedAfter,
                    modifiedBefore,
                    pageSize,
                    remoteId,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    created_after: createdAfter?.toISOString(),
                    created_before: createdBefore?.toISOString(),
                    cursor,
                    expand: Array.isArray(expand) ? expand.map((item) => item) : expand != null ? expand : undefined,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_shell_data: includeShellData,
                    job_id: jobId,
                    modified_after: modifiedAfter?.toISOString(),
                    modified_before: modifiedBefore?.toISOString(),
                    page_size: pageSize,
                    remote_id: remoteId,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "ats/v1/job-interview-stages",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ats.PaginatedJobInterviewStageList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/ats/v1/job-interview-stages",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.ats.JobInterviewStage, Merge.ats.PaginatedJobInterviewStageList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }

    /**
     * Returns a `JobInterviewStage` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.ats.JobInterviewStagesRetrieveRequest} request
     * @param {JobInterviewStagesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.jobInterviewStages.retrieve("id", {
     *         includeRemoteData: true,
     *         includeShellData: true
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.ats.JobInterviewStagesRetrieveRequest = {},
        requestOptions?: JobInterviewStagesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ats.JobInterviewStage> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.ats.JobInterviewStagesRetrieveRequest = {},
        requestOptions?: JobInterviewStagesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ats.JobInterviewStage>> {
        const { expand, includeRemoteData, includeShellData } = request;
        const _queryParams: Record<string, unknown> = {
            expand: Array.isArray(expand) ? expand.map((item) => item) : expand != null ? expand : undefined,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `ats/v1/job-interview-stages/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ats.JobInterviewStage.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/ats/v1/job-interview-stages/{id}",
        );
    }
}
