// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace SalesOrdersClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SalesOrdersClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SalesOrdersClient.Options>;

    constructor(options: SalesOrdersClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `SalesOrder` objects.
     *
     * @param {Merge.accounting.SalesOrdersListRequest} request
     * @param {SalesOrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.salesOrders.list({
     *         companyId: "company_id",
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true,
     *         issueDateAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         issueDateBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteFields: "status",
     *         remoteId: "remote_id",
     *         showEnumOrigins: "status"
     *     })
     */
    public async list(
        request: Merge.accounting.SalesOrdersListRequest = {},
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): Promise<core.Page<Merge.accounting.SalesOrder, Merge.accounting.PaginatedSalesOrderList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.accounting.SalesOrdersListRequest,
            ): Promise<core.WithRawResponse<Merge.accounting.PaginatedSalesOrderList>> => {
                const {
                    companyId,
                    createdAfter,
                    createdBefore,
                    cursor,
                    expand,
                    includeDeletedData,
                    includeRemoteData,
                    includeRemoteFields,
                    includeShellData,
                    issueDateAfter,
                    issueDateBefore,
                    modifiedAfter,
                    modifiedBefore,
                    pageSize,
                    remoteFields,
                    remoteId,
                    showEnumOrigins,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    company_id: companyId,
                    created_after: createdAfter?.toISOString(),
                    created_before: createdBefore?.toISOString(),
                    cursor,
                    expand: Array.isArray(expand)
                        ? expand.map((item) =>
                              serializers.accounting.SalesOrdersListRequestExpandItem.jsonOrThrow(item, {
                                  unrecognizedObjectKeys: "strip",
                              }),
                          )
                        : expand != null
                          ? serializers.accounting.SalesOrdersListRequestExpandItem.jsonOrThrow(expand, {
                                unrecognizedObjectKeys: "strip",
                            })
                          : undefined,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_remote_fields: includeRemoteFields,
                    include_shell_data: includeShellData,
                    issue_date_after: issueDateAfter?.toISOString(),
                    issue_date_before: issueDateBefore?.toISOString(),
                    modified_after: modifiedAfter?.toISOString(),
                    modified_before: modifiedBefore?.toISOString(),
                    page_size: pageSize,
                    remote_fields: remoteFields != null ? remoteFields : undefined,
                    remote_id: remoteId,
                    show_enum_origins: showEnumOrigins != null ? showEnumOrigins : undefined,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "accounting/v1/sales-orders",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.accounting.PaginatedSalesOrderList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/accounting/v1/sales-orders",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.accounting.SalesOrder, Merge.accounting.PaginatedSalesOrderList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }

    /**
     * Creates a `SalesOrder` object with the given values.
     *
     * @param {Merge.accounting.SalesOrdersCreateRequest} request
     * @param {SalesOrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.salesOrders.create({
     *         isDebugMode: true,
     *         runAsync: true,
     *         body: {
     *             model: {}
     *         }
     *     })
     */
    public create(
        request: Merge.accounting.SalesOrdersCreateRequest,
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.SalesOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Merge.accounting.SalesOrdersCreateRequest,
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.SalesOrderResponse>> {
        const { isDebugMode, runAsync, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/sales-orders",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.accounting.SalesOrderEndpointRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.SalesOrderResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/accounting/v1/sales-orders");
    }

    /**
     * Returns a `SalesOrder` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.accounting.SalesOrdersRetrieveRequest} request
     * @param {SalesOrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.salesOrders.retrieve("id", {
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true,
     *         remoteFields: "status",
     *         showEnumOrigins: "status"
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.accounting.SalesOrdersRetrieveRequest = {},
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.SalesOrder> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.accounting.SalesOrdersRetrieveRequest = {},
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.SalesOrder>> {
        const { expand, includeRemoteData, includeRemoteFields, includeShellData, remoteFields, showEnumOrigins } =
            request;
        const _queryParams: Record<string, unknown> = {
            expand: Array.isArray(expand)
                ? expand.map((item) =>
                      serializers.accounting.SalesOrdersRetrieveRequestExpandItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                      }),
                  )
                : expand != null
                  ? serializers.accounting.SalesOrdersRetrieveRequestExpandItem.jsonOrThrow(expand, {
                        unrecognizedObjectKeys: "strip",
                    })
                  : undefined,
            include_remote_data: includeRemoteData,
            include_remote_fields: includeRemoteFields,
            include_shell_data: includeShellData,
            remote_fields: remoteFields != null ? remoteFields : undefined,
            show_enum_origins: showEnumOrigins != null ? showEnumOrigins : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `accounting/v1/sales-orders/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.SalesOrder.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounting/v1/sales-orders/{id}",
        );
    }

    /**
     * Creates a `SalesOrder` object with the given values.
     *
     * @param {Merge.accounting.SalesOrdersAsyncBulkCreateRequest} request
     * @param {SalesOrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.salesOrders.asyncBulkCreate({
     *         isDebugMode: true,
     *         runAsync: true,
     *         body: {
     *             model: {}
     *         }
     *     })
     */
    public asyncBulkCreate(
        request: Merge.accounting.SalesOrdersAsyncBulkCreateRequest,
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.SalesOrderResponse> {
        return core.HttpResponsePromise.fromPromise(this.__asyncBulkCreate(request, requestOptions));
    }

    private async __asyncBulkCreate(
        request: Merge.accounting.SalesOrdersAsyncBulkCreateRequest,
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.SalesOrderResponse>> {
        const { isDebugMode, runAsync, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/sales-orders/async/bulk",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.accounting.SalesOrderEndpointRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.SalesOrderResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounting/v1/sales-orders/async/bulk",
        );
    }

    /**
     * Returns a list of `SalesOrder` objects.
     *
     * @param {string} batch_id
     * @param {Merge.accounting.SalesOrdersBatchObjectsListRequest} request
     * @param {SalesOrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.salesOrders.batchObjectsList("batch_id", {
     *         companyId: "company_id",
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true,
     *         issueDateAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         issueDateBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteFields: "status",
     *         remoteId: "remote_id",
     *         showEnumOrigins: "status"
     *     })
     */
    public async batchObjectsList(
        batch_id: string,
        request: Merge.accounting.SalesOrdersBatchObjectsListRequest = {},
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): Promise<core.Page<Merge.accounting.SalesOrder, Merge.accounting.PaginatedSalesOrderList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.accounting.SalesOrdersBatchObjectsListRequest,
            ): Promise<core.WithRawResponse<Merge.accounting.PaginatedSalesOrderList>> => {
                const {
                    companyId,
                    createdAfter,
                    createdBefore,
                    cursor,
                    expand,
                    includeDeletedData,
                    includeRemoteData,
                    includeRemoteFields,
                    includeShellData,
                    issueDateAfter,
                    issueDateBefore,
                    modifiedAfter,
                    modifiedBefore,
                    pageSize,
                    remoteFields,
                    remoteId,
                    showEnumOrigins,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    company_id: companyId,
                    created_after: createdAfter?.toISOString(),
                    created_before: createdBefore?.toISOString(),
                    cursor,
                    expand: Array.isArray(expand)
                        ? expand.map((item) =>
                              serializers.accounting.SalesOrdersBatchObjectsListRequestExpandItem.jsonOrThrow(item, {
                                  unrecognizedObjectKeys: "strip",
                              }),
                          )
                        : expand != null
                          ? serializers.accounting.SalesOrdersBatchObjectsListRequestExpandItem.jsonOrThrow(expand, {
                                unrecognizedObjectKeys: "strip",
                            })
                          : undefined,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_remote_fields: includeRemoteFields,
                    include_shell_data: includeShellData,
                    issue_date_after: issueDateAfter?.toISOString(),
                    issue_date_before: issueDateBefore?.toISOString(),
                    modified_after: modifiedAfter?.toISOString(),
                    modified_before: modifiedBefore?.toISOString(),
                    page_size: pageSize,
                    remote_fields: remoteFields != null ? remoteFields : undefined,
                    remote_id: remoteId,
                    show_enum_origins: showEnumOrigins != null ? showEnumOrigins : undefined,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        `accounting/v1/sales-orders/batch/${core.url.encodePathParam(batch_id)}/objects`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.accounting.PaginatedSalesOrderList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/accounting/v1/sales-orders/batch/{batch_id}/objects",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.accounting.SalesOrder, Merge.accounting.PaginatedSalesOrderList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }

    /**
     * Returns a list of `RemoteFieldClass` objects.
     *
     * @param {Merge.accounting.SalesOrdersLinesRemoteFieldClassesListRequest} request
     * @param {SalesOrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.salesOrders.linesRemoteFieldClassesList({
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         isCommonModelField: true,
     *         isCustom: true,
     *         pageSize: 1
     *     })
     */
    public async linesRemoteFieldClassesList(
        request: Merge.accounting.SalesOrdersLinesRemoteFieldClassesListRequest = {},
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): Promise<core.Page<Merge.accounting.RemoteFieldClass, Merge.accounting.PaginatedRemoteFieldClassList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.accounting.SalesOrdersLinesRemoteFieldClassesListRequest,
            ): Promise<core.WithRawResponse<Merge.accounting.PaginatedRemoteFieldClassList>> => {
                const {
                    cursor,
                    includeDeletedData,
                    includeRemoteData,
                    includeShellData,
                    isCommonModelField,
                    isCustom,
                    pageSize,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_shell_data: includeShellData,
                    is_common_model_field: isCommonModelField,
                    is_custom: isCustom,
                    page_size: pageSize,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "accounting/v1/sales-orders/lines/remote-field-classes",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.accounting.PaginatedRemoteFieldClassList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/accounting/v1/sales-orders/lines/remote-field-classes",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.accounting.RemoteFieldClass, Merge.accounting.PaginatedRemoteFieldClassList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }

    /**
     * Returns metadata for `SalesOrder` POSTs.
     *
     * @param {SalesOrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.salesOrders.metaPostRetrieve()
     */
    public metaPostRetrieve(
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.MetaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__metaPostRetrieve(requestOptions));
    }

    private async __metaPostRetrieve(
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.MetaResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/sales-orders/meta/post",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.MetaResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounting/v1/sales-orders/meta/post",
        );
    }

    /**
     * Returns a list of `RemoteFieldClass` objects.
     *
     * @param {Merge.accounting.SalesOrdersRemoteFieldClassesListRequest} request
     * @param {SalesOrdersClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.salesOrders.remoteFieldClassesList({
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         isCommonModelField: true,
     *         isCustom: true,
     *         pageSize: 1
     *     })
     */
    public async remoteFieldClassesList(
        request: Merge.accounting.SalesOrdersRemoteFieldClassesListRequest = {},
        requestOptions?: SalesOrdersClient.RequestOptions,
    ): Promise<core.Page<Merge.accounting.RemoteFieldClass, Merge.accounting.PaginatedRemoteFieldClassList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.accounting.SalesOrdersRemoteFieldClassesListRequest,
            ): Promise<core.WithRawResponse<Merge.accounting.PaginatedRemoteFieldClassList>> => {
                const {
                    cursor,
                    includeDeletedData,
                    includeRemoteData,
                    includeShellData,
                    isCommonModelField,
                    isCustom,
                    pageSize,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_shell_data: includeShellData,
                    is_common_model_field: isCommonModelField,
                    is_custom: isCustom,
                    page_size: pageSize,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "accounting/v1/sales-orders/remote-field-classes",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.accounting.PaginatedRemoteFieldClassList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/accounting/v1/sales-orders/remote-field-classes",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.accounting.RemoteFieldClass, Merge.accounting.PaginatedRemoteFieldClassList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }
}
