// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace NotesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class NotesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<NotesClient.Options>;

    constructor(options: NotesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `Note` objects.
     *
     * @param {Merge.crm.NotesListRequest} request
     * @param {NotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.notes.list({
     *         accountId: "account_id",
     *         contactId: "contact_id",
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         opportunityId: "opportunity_id",
     *         ownerId: "owner_id",
     *         pageSize: 1,
     *         remoteId: "remote_id"
     *     })
     */
    public async list(
        request: Merge.crm.NotesListRequest = {},
        requestOptions?: NotesClient.RequestOptions,
    ): Promise<core.Page<Merge.crm.Note, Merge.crm.PaginatedNoteList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Merge.crm.NotesListRequest): Promise<core.WithRawResponse<Merge.crm.PaginatedNoteList>> => {
                const {
                    accountId,
                    contactId,
                    createdAfter,
                    createdBefore,
                    cursor,
                    expand,
                    includeDeletedData,
                    includeRemoteData,
                    includeRemoteFields,
                    includeShellData,
                    modifiedAfter,
                    modifiedBefore,
                    opportunityId,
                    ownerId,
                    pageSize,
                    remoteId,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    account_id: accountId,
                    contact_id: contactId,
                    created_after: createdAfter?.toISOString(),
                    created_before: createdBefore?.toISOString(),
                    cursor,
                    expand: Array.isArray(expand)
                        ? expand.map((item) =>
                              serializers.crm.NotesListRequestExpandItem.jsonOrThrow(item, {
                                  unrecognizedObjectKeys: "strip",
                              }),
                          )
                        : expand != null
                          ? serializers.crm.NotesListRequestExpandItem.jsonOrThrow(expand, {
                                unrecognizedObjectKeys: "strip",
                            })
                          : undefined,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_remote_fields: includeRemoteFields,
                    include_shell_data: includeShellData,
                    modified_after: modifiedAfter?.toISOString(),
                    modified_before: modifiedBefore?.toISOString(),
                    opportunity_id: opportunityId,
                    owner_id: ownerId,
                    page_size: pageSize,
                    remote_id: remoteId,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "crm/v1/notes",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.crm.PaginatedNoteList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/crm/v1/notes");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.crm.Note, Merge.crm.PaginatedNoteList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }

    /**
     * Creates a `Note` object with the given values.
     *
     * @param {Merge.crm.NoteEndpointRequest} request
     * @param {NotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.notes.create({
     *         isDebugMode: true,
     *         runAsync: true,
     *         model: {}
     *     })
     */
    public create(
        request: Merge.crm.NoteEndpointRequest,
        requestOptions?: NotesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.NoteResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Merge.crm.NoteEndpointRequest,
        requestOptions?: NotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.NoteResponse>> {
        const { isDebugMode, runAsync, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "crm/v1/notes",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.crm.NoteEndpointRequest.jsonOrThrow(_body, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.NoteResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/crm/v1/notes");
    }

    /**
     * Returns a `Note` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.crm.NotesRetrieveRequest} request
     * @param {NotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.notes.retrieve("id", {
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.crm.NotesRetrieveRequest = {},
        requestOptions?: NotesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.Note> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.crm.NotesRetrieveRequest = {},
        requestOptions?: NotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.Note>> {
        const { expand, includeRemoteData, includeRemoteFields, includeShellData } = request;
        const _queryParams: Record<string, unknown> = {
            expand: Array.isArray(expand)
                ? expand.map((item) =>
                      serializers.crm.NotesRetrieveRequestExpandItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                      }),
                  )
                : expand != null
                  ? serializers.crm.NotesRetrieveRequestExpandItem.jsonOrThrow(expand, {
                        unrecognizedObjectKeys: "strip",
                    })
                  : undefined,
            include_remote_data: includeRemoteData,
            include_remote_fields: includeRemoteFields,
            include_shell_data: includeShellData,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `crm/v1/notes/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.Note.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/crm/v1/notes/{id}");
    }

    /**
     * Returns metadata for `Note` POSTs.
     *
     * @param {NotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.notes.metaPostRetrieve()
     */
    public metaPostRetrieve(
        requestOptions?: NotesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.MetaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__metaPostRetrieve(requestOptions));
    }

    private async __metaPostRetrieve(
        requestOptions?: NotesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.MetaResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "crm/v1/notes/meta/post",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.MetaResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/crm/v1/notes/meta/post");
    }

    /**
     * Returns a list of `RemoteFieldClass` objects.
     *
     * @param {Merge.crm.NotesRemoteFieldClassesListRequest} request
     * @param {NotesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.notes.remoteFieldClassesList({
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true,
     *         isCommonModelField: true,
     *         isCustom: true,
     *         pageSize: 1
     *     })
     */
    public async remoteFieldClassesList(
        request: Merge.crm.NotesRemoteFieldClassesListRequest = {},
        requestOptions?: NotesClient.RequestOptions,
    ): Promise<core.Page<Merge.crm.RemoteFieldClass, Merge.crm.PaginatedRemoteFieldClassList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.crm.NotesRemoteFieldClassesListRequest,
            ): Promise<core.WithRawResponse<Merge.crm.PaginatedRemoteFieldClassList>> => {
                const {
                    cursor,
                    includeDeletedData,
                    includeRemoteData,
                    includeRemoteFields,
                    includeShellData,
                    isCommonModelField,
                    isCustom,
                    pageSize,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_remote_fields: includeRemoteFields,
                    include_shell_data: includeShellData,
                    is_common_model_field: isCommonModelField,
                    is_custom: isCustom,
                    page_size: pageSize,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "crm/v1/notes/remote-field-classes",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.crm.PaginatedRemoteFieldClassList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/crm/v1/notes/remote-field-classes",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.crm.RemoteFieldClass, Merge.crm.PaginatedRemoteFieldClassList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }
}
