// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace LinkTokenClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LinkTokenClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LinkTokenClient.Options>;

    constructor(options: LinkTokenClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a link token to be used when linking a new end user.
     *
     * @param {Merge.ticketing.EndUserDetailsRequest} request
     * @param {LinkTokenClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ticketing.linkToken.create({
     *         endUserEmailAddress: "example@gmail.com",
     *         endUserOrganizationName: "Test Organization",
     *         endUserOriginId: "12345",
     *         categories: ["hris", "ats"]
     *     })
     */
    public create(
        request: Merge.ticketing.EndUserDetailsRequest,
        requestOptions?: LinkTokenClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ticketing.LinkToken> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Merge.ticketing.EndUserDetailsRequest,
        requestOptions?: LinkTokenClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ticketing.LinkToken>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "ticketing/v1/link-token",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.ticketing.EndUserDetailsRequest.jsonOrThrow(request, { unrecognizedObjectKeys: "strip" }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ticketing.LinkToken.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/ticketing/v1/link-token");
    }
}
