// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace CollectionsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CollectionsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CollectionsClient.Options>;

    constructor(options: CollectionsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `Collection` objects.
     *
     * @param {Merge.ticketing.CollectionsListRequest} request
     * @param {CollectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ticketing.collections.list({
     *         collectionType: "",
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         expand: "parent_collection",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         name: "name",
     *         pageSize: 1,
     *         parentCollectionId: "parent_collection_id",
     *         remoteFields: "collection_type",
     *         remoteId: "remote_id",
     *         showEnumOrigins: "collection_type"
     *     })
     */
    public list(
        request: Merge.ticketing.CollectionsListRequest = {},
        requestOptions?: CollectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ticketing.PaginatedCollectionList> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Merge.ticketing.CollectionsListRequest = {},
        requestOptions?: CollectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ticketing.PaginatedCollectionList>> {
        const {
            collectionType,
            createdAfter,
            createdBefore,
            cursor,
            expand,
            includeDeletedData,
            includeRemoteData,
            includeShellData,
            modifiedAfter,
            modifiedBefore,
            name,
            pageSize,
            parentCollectionId,
            remoteFields,
            remoteId,
            showEnumOrigins,
        } = request;
        const _queryParams: Record<string, unknown> = {
            collection_type:
                collectionType != null
                    ? serializers.ticketing.CollectionsListRequestCollectionType.jsonOrThrow(collectionType, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            created_after: createdAfter?.toISOString(),
            created_before: createdBefore?.toISOString(),
            cursor,
            expand: expand != null ? expand : undefined,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            modified_after: modifiedAfter?.toISOString(),
            modified_before: modifiedBefore?.toISOString(),
            name,
            page_size: pageSize,
            parent_collection_id: parentCollectionId,
            remote_fields: remoteFields != null ? remoteFields : undefined,
            remote_id: remoteId,
            show_enum_origins: showEnumOrigins != null ? showEnumOrigins : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "ticketing/v1/collections",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ticketing.PaginatedCollectionList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/ticketing/v1/collections");
    }

    /**
     * Returns a list of `Viewer` objects that point to a User id or Team id that is either an assignee or viewer on a `Collection` with the given id. [Learn more.](https://help.merge.dev/en/articles/10333658-ticketing-access-control-list-acls)
     *
     * @param {string} collection_id
     * @param {Merge.ticketing.CollectionsViewersListRequest} request
     * @param {CollectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ticketing.collections.viewersList("collection_id", {
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         expand: "team",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         pageSize: 1
     *     })
     */
    public viewersList(
        collection_id: string,
        request: Merge.ticketing.CollectionsViewersListRequest = {},
        requestOptions?: CollectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ticketing.PaginatedViewerList> {
        return core.HttpResponsePromise.fromPromise(this.__viewersList(collection_id, request, requestOptions));
    }

    private async __viewersList(
        collection_id: string,
        request: Merge.ticketing.CollectionsViewersListRequest = {},
        requestOptions?: CollectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ticketing.PaginatedViewerList>> {
        const { cursor, expand, includeDeletedData, includeRemoteData, includeShellData, pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            expand:
                expand != null
                    ? serializers.ticketing.CollectionsViewersListRequestExpand.jsonOrThrow(expand, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            page_size: pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `ticketing/v1/collections/${core.url.encodePathParam(collection_id)}/viewers`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ticketing.PaginatedViewerList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/ticketing/v1/collections/{collection_id}/viewers",
        );
    }

    /**
     * Returns a `Collection` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.ticketing.CollectionsRetrieveRequest} request
     * @param {CollectionsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ticketing.collections.retrieve("id", {
     *         expand: "parent_collection",
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         remoteFields: "collection_type",
     *         showEnumOrigins: "collection_type"
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.ticketing.CollectionsRetrieveRequest = {},
        requestOptions?: CollectionsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ticketing.Collection> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.ticketing.CollectionsRetrieveRequest = {},
        requestOptions?: CollectionsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ticketing.Collection>> {
        const { expand, includeRemoteData, includeShellData, remoteFields, showEnumOrigins } = request;
        const _queryParams: Record<string, unknown> = {
            expand: expand != null ? expand : undefined,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            remote_fields: remoteFields != null ? remoteFields : undefined,
            show_enum_origins: showEnumOrigins != null ? showEnumOrigins : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `ticketing/v1/collections/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ticketing.Collection.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/ticketing/v1/collections/{id}",
        );
    }
}
