// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace AuditTrailClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuditTrailClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuditTrailClient.Options>;

    constructor(options: AuditTrailClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Gets a list of audit trail events.
     *
     * @param {Merge.chat.AuditTrailListRequest} request
     * @param {AuditTrailClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.chat.auditTrail.list({
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         endDate: "end_date",
     *         eventType: "event_type",
     *         pageSize: 1,
     *         startDate: "start_date",
     *         userEmail: "user_email"
     *     })
     */
    public list(
        request: Merge.chat.AuditTrailListRequest = {},
        requestOptions?: AuditTrailClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.chat.PaginatedAuditLogEventList> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Merge.chat.AuditTrailListRequest = {},
        requestOptions?: AuditTrailClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.chat.PaginatedAuditLogEventList>> {
        const { cursor, endDate, eventType, pageSize, startDate, userEmail } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            end_date: endDate,
            event_type: eventType,
            page_size: pageSize,
            start_date: startDate,
            user_email: userEmail,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "chat/v1/audit-trail",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.chat.PaginatedAuditLogEventList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/chat/v1/audit-trail");
    }
}
