// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace PayrollRunsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class PayrollRunsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<PayrollRunsClient.Options>;

    constructor(options: PayrollRunsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `PayrollRun` objects.
     *
     * @param {Merge.hris.PayrollRunsListRequest} request
     * @param {PayrollRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.hris.payrollRuns.list({
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         endedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         endedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteFields: "run_state",
     *         remoteId: "remote_id",
     *         runType: "CORRECTION",
     *         showEnumOrigins: "run_state",
     *         startedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         startedBefore: new Date("2024-01-15T09:30:00.000Z")
     *     })
     */
    public list(
        request: Merge.hris.PayrollRunsListRequest = {},
        requestOptions?: PayrollRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.hris.PaginatedPayrollRunList> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Merge.hris.PayrollRunsListRequest = {},
        requestOptions?: PayrollRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.hris.PaginatedPayrollRunList>> {
        const {
            createdAfter,
            createdBefore,
            cursor,
            endedAfter,
            endedBefore,
            includeDeletedData,
            includeRemoteData,
            includeShellData,
            modifiedAfter,
            modifiedBefore,
            pageSize,
            remoteFields,
            remoteId,
            runType,
            showEnumOrigins,
            startedAfter,
            startedBefore,
        } = request;
        const _queryParams: Record<string, unknown> = {
            created_after: createdAfter?.toISOString(),
            created_before: createdBefore?.toISOString(),
            cursor,
            ended_after: endedAfter?.toISOString(),
            ended_before: endedBefore?.toISOString(),
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            modified_after: modifiedAfter?.toISOString(),
            modified_before: modifiedBefore?.toISOString(),
            page_size: pageSize,
            remote_fields:
                remoteFields != null
                    ? serializers.hris.PayrollRunsListRequestRemoteFields.jsonOrThrow(remoteFields, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            remote_id: remoteId,
            run_type:
                runType != null
                    ? serializers.hris.PayrollRunsListRequestRunType.jsonOrThrow(runType, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            show_enum_origins:
                showEnumOrigins != null
                    ? serializers.hris.PayrollRunsListRequestShowEnumOrigins.jsonOrThrow(showEnumOrigins, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            started_after: startedAfter?.toISOString(),
            started_before: startedBefore?.toISOString(),
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "hris/v1/payroll-runs",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.hris.PaginatedPayrollRunList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/hris/v1/payroll-runs");
    }

    /**
     * Returns a `PayrollRun` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.hris.PayrollRunsRetrieveRequest} request
     * @param {PayrollRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.hris.payrollRuns.retrieve("id", {
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         remoteFields: "run_state",
     *         showEnumOrigins: "run_state"
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.hris.PayrollRunsRetrieveRequest = {},
        requestOptions?: PayrollRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.hris.PayrollRun> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.hris.PayrollRunsRetrieveRequest = {},
        requestOptions?: PayrollRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.hris.PayrollRun>> {
        const { includeRemoteData, includeShellData, remoteFields, showEnumOrigins } = request;
        const _queryParams: Record<string, unknown> = {
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            remote_fields:
                remoteFields != null
                    ? serializers.hris.PayrollRunsRetrieveRequestRemoteFields.jsonOrThrow(remoteFields, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            show_enum_origins:
                showEnumOrigins != null
                    ? serializers.hris.PayrollRunsRetrieveRequestShowEnumOrigins.jsonOrThrow(showEnumOrigins, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `hris/v1/payroll-runs/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.hris.PayrollRun.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/hris/v1/payroll-runs/{id}");
    }
}
