// This file was auto-generated by Fern from our API Definition.

import type * as stream from "stream";
import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace FilesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class FilesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<FilesClient.Options>;

    constructor(options: FilesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `File` objects.
     *
     * @param {Merge.filestorage.FilesListRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.filestorage.files.list({
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         driveId: "drive_id",
     *         folderId: "folder_id",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         mimeType: "mime_type",
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         name: "name",
     *         orderBy: "-created_at",
     *         pageSize: 1,
     *         remoteCreatedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         remoteCreatedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         remoteId: "remote_id"
     *     })
     */
    public async list(
        request: Merge.filestorage.FilesListRequest = {},
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.Page<Merge.filestorage.File_, Merge.filestorage.PaginatedFileList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.filestorage.FilesListRequest,
            ): Promise<core.WithRawResponse<Merge.filestorage.PaginatedFileList>> => {
                const {
                    createdAfter,
                    createdBefore,
                    cursor,
                    driveId,
                    expand,
                    folderId,
                    includeDeletedData,
                    includeRemoteData,
                    includeShellData,
                    mimeType,
                    modifiedAfter,
                    modifiedBefore,
                    name,
                    orderBy,
                    pageSize,
                    remoteCreatedAfter,
                    remoteCreatedBefore,
                    remoteId,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    created_after: createdAfter?.toISOString(),
                    created_before: createdBefore?.toISOString(),
                    cursor,
                    drive_id: driveId,
                    expand: Array.isArray(expand)
                        ? expand.map((item) =>
                              serializers.filestorage.FilesListRequestExpandItem.jsonOrThrow(item, {
                                  unrecognizedObjectKeys: "strip",
                              }),
                          )
                        : expand != null
                          ? serializers.filestorage.FilesListRequestExpandItem.jsonOrThrow(expand, {
                                unrecognizedObjectKeys: "strip",
                            })
                          : undefined,
                    folder_id: folderId,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_shell_data: includeShellData,
                    mime_type: mimeType,
                    modified_after: modifiedAfter?.toISOString(),
                    modified_before: modifiedBefore?.toISOString(),
                    name,
                    order_by:
                        orderBy != null
                            ? serializers.filestorage.FilesListRequestOrderBy.jsonOrThrow(orderBy, {
                                  unrecognizedObjectKeys: "strip",
                              })
                            : undefined,
                    page_size: pageSize,
                    remote_created_after: remoteCreatedAfter?.toISOString(),
                    remote_created_before: remoteCreatedBefore?.toISOString(),
                    remote_id: remoteId,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "filestorage/v1/files",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.filestorage.PaginatedFileList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/filestorage/v1/files");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.filestorage.File_, Merge.filestorage.PaginatedFileList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }

    /**
     * Creates a `File` object with the given values.
     *
     * @param {Merge.filestorage.FileStorageFileEndpointRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.filestorage.files.create({
     *         isDebugMode: true,
     *         runAsync: true,
     *         model: {}
     *     })
     */
    public create(
        request: Merge.filestorage.FileStorageFileEndpointRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.filestorage.FileStorageFileResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Merge.filestorage.FileStorageFileEndpointRequest,
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.filestorage.FileStorageFileResponse>> {
        const { isDebugMode, runAsync, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "filestorage/v1/files",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.filestorage.FileStorageFileEndpointRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.filestorage.FileStorageFileResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/filestorage/v1/files");
    }

    /**
     * Returns a `File` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.filestorage.FilesRetrieveRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.filestorage.files.retrieve("id", {
     *         includeRemoteData: true,
     *         includeShellData: true
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.filestorage.FilesRetrieveRequest = {},
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.filestorage.File_> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.filestorage.FilesRetrieveRequest = {},
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.filestorage.File_>> {
        const { expand, includeRemoteData, includeShellData } = request;
        const _queryParams: Record<string, unknown> = {
            expand: Array.isArray(expand)
                ? expand.map((item) =>
                      serializers.filestorage.FilesRetrieveRequestExpandItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                      }),
                  )
                : expand != null
                  ? serializers.filestorage.FilesRetrieveRequestExpandItem.jsonOrThrow(expand, {
                        unrecognizedObjectKeys: "strip",
                    })
                  : undefined,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `filestorage/v1/files/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.filestorage.File_.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/filestorage/v1/files/{id}");
    }

    /**
     * Returns the `File` content with the given `id` as a stream of bytes.
     */
    public downloadRetrieve(
        id: string,
        request: Merge.filestorage.FilesDownloadRetrieveRequest = {},
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<stream.Readable> {
        return core.HttpResponsePromise.fromPromise(this.__downloadRetrieve(id, request, requestOptions));
    }

    private async __downloadRetrieve(
        id: string,
        request: Merge.filestorage.FilesDownloadRetrieveRequest = {},
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<stream.Readable>> {
        const { includeShellData, mimeType } = request;
        const _queryParams: Record<string, unknown> = {
            include_shell_data: includeShellData,
            mime_type: mimeType,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)<stream.Readable>({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `filestorage/v1/files/${core.url.encodePathParam(id)}/download`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            responseType: "streaming",
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/filestorage/v1/files/{id}/download",
        );
    }

    /**
     * Returns metadata to construct an authenticated file download request for a singular file, allowing you to download file directly from the third-party. For information on our download process please refer to our <a href='https://help.merge.dev/articles/10644317' target='_blank'>direct file download help center article</a>.
     *
     * @param {string} id
     * @param {Merge.filestorage.FilesDownloadRequestMetaRetrieveRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.filestorage.files.downloadRequestMetaRetrieve("id", {
     *         mimeType: "mime_type"
     *     })
     */
    public downloadRequestMetaRetrieve(
        id: string,
        request: Merge.filestorage.FilesDownloadRequestMetaRetrieveRequest = {},
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.filestorage.DownloadRequestMeta> {
        return core.HttpResponsePromise.fromPromise(this.__downloadRequestMetaRetrieve(id, request, requestOptions));
    }

    private async __downloadRequestMetaRetrieve(
        id: string,
        request: Merge.filestorage.FilesDownloadRequestMetaRetrieveRequest = {},
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.filestorage.DownloadRequestMeta>> {
        const { mimeType } = request;
        const _queryParams: Record<string, unknown> = {
            mime_type: mimeType,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `filestorage/v1/files/${core.url.encodePathParam(id)}/download/request-meta`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.filestorage.DownloadRequestMeta.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/filestorage/v1/files/{id}/download/request-meta",
        );
    }

    /**
     * Returns metadata to construct authenticated file download requests, allowing you to download files directly from the third-party.
     *
     * @param {Merge.filestorage.FilesDownloadRequestMetaListRequest} request
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.filestorage.files.downloadRequestMetaList({
     *         createdAfter: "created_after",
     *         createdBefore: "created_before",
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         mimeTypes: "mime_types",
     *         modifiedAfter: "modified_after",
     *         modifiedBefore: "modified_before",
     *         orderBy: "-created_at",
     *         pageSize: 1
     *     })
     */
    public async downloadRequestMetaList(
        request: Merge.filestorage.FilesDownloadRequestMetaListRequest = {},
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.Page<Merge.filestorage.DownloadRequestMeta, Merge.filestorage.PaginatedDownloadRequestMetaList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.filestorage.FilesDownloadRequestMetaListRequest,
            ): Promise<core.WithRawResponse<Merge.filestorage.PaginatedDownloadRequestMetaList>> => {
                const {
                    createdAfter,
                    createdBefore,
                    cursor,
                    ids,
                    includeDeletedData,
                    mimeTypes,
                    modifiedAfter,
                    modifiedBefore,
                    orderBy,
                    pageSize,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    created_after: createdAfter,
                    created_before: createdBefore,
                    cursor,
                    ids,
                    include_deleted_data: includeDeletedData,
                    mime_types: mimeTypes,
                    modified_after: modifiedAfter,
                    modified_before: modifiedBefore,
                    order_by:
                        orderBy != null
                            ? serializers.filestorage.FilesDownloadRequestMetaListRequestOrderBy.jsonOrThrow(orderBy, {
                                  unrecognizedObjectKeys: "strip",
                              })
                            : undefined,
                    page_size: pageSize,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "filestorage/v1/files/download/request-meta",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.filestorage.PaginatedDownloadRequestMetaList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/filestorage/v1/files/download/request-meta",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.filestorage.DownloadRequestMeta, Merge.filestorage.PaginatedDownloadRequestMetaList>(
            {
                response: dataWithRawResponse.data,
                rawResponse: dataWithRawResponse.rawResponse,
                hasNextPage: (response) =>
                    response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
                getItems: (response) => response?.results ?? [],
                loadPage: (response) => {
                    return list(core.setObjectProperty(request, "cursor", response?.next));
                },
            },
        );
    }

    /**
     * Returns metadata for `FileStorageFile` POSTs.
     *
     * @param {FilesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.filestorage.files.metaPostRetrieve()
     */
    public metaPostRetrieve(
        requestOptions?: FilesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.filestorage.MetaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__metaPostRetrieve(requestOptions));
    }

    private async __metaPostRetrieve(
        requestOptions?: FilesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.filestorage.MetaResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "filestorage/v1/files/meta/post",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.filestorage.MetaResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/filestorage/v1/files/meta/post",
        );
    }
}
