// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace JobsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class JobsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JobsClient.Options>;

    constructor(options: JobsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `Job` objects.
     *
     * @param {Merge.ats.JobsListRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.jobs.list({
     *         code: "code",
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         offices: "offices",
     *         pageSize: 1,
     *         remoteFields: "status",
     *         remoteId: "remote_id",
     *         showEnumOrigins: "status",
     *         status: "ARCHIVED"
     *     })
     */
    public async list(
        request: Merge.ats.JobsListRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.Page<Merge.ats.Job, Merge.ats.PaginatedJobList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (request: Merge.ats.JobsListRequest): Promise<core.WithRawResponse<Merge.ats.PaginatedJobList>> => {
                const {
                    code,
                    createdAfter,
                    createdBefore,
                    cursor,
                    expand,
                    includeDeletedData,
                    includeRemoteData,
                    includeShellData,
                    modifiedAfter,
                    modifiedBefore,
                    offices,
                    pageSize,
                    remoteFields,
                    remoteId,
                    showEnumOrigins,
                    status,
                } = request;
                const _queryParams: Record<string, unknown> = {
                    code,
                    created_after: createdAfter?.toISOString(),
                    created_before: createdBefore?.toISOString(),
                    cursor,
                    expand: Array.isArray(expand)
                        ? expand.map((item) =>
                              serializers.ats.JobsListRequestExpandItem.jsonOrThrow(item, {
                                  unrecognizedObjectKeys: "strip",
                              }),
                          )
                        : expand != null
                          ? serializers.ats.JobsListRequestExpandItem.jsonOrThrow(expand, {
                                unrecognizedObjectKeys: "strip",
                            })
                          : undefined,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_shell_data: includeShellData,
                    modified_after: modifiedAfter?.toISOString(),
                    modified_before: modifiedBefore?.toISOString(),
                    offices,
                    page_size: pageSize,
                    remote_fields: remoteFields != null ? remoteFields : undefined,
                    remote_id: remoteId,
                    show_enum_origins: showEnumOrigins != null ? showEnumOrigins : undefined,
                    status:
                        status != null
                            ? serializers.ats.JobsListRequestStatus.jsonOrThrow(status, {
                                  unrecognizedObjectKeys: "strip",
                              })
                            : undefined,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "ats/v1/jobs",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ats.PaginatedJobList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/ats/v1/jobs");
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.ats.Job, Merge.ats.PaginatedJobList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }

    /**
     * Returns a `Job` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.ats.JobsRetrieveRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.jobs.retrieve("id", {
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         remoteFields: "status",
     *         showEnumOrigins: "status"
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.ats.JobsRetrieveRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ats.Job> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.ats.JobsRetrieveRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ats.Job>> {
        const { expand, includeRemoteData, includeShellData, remoteFields, showEnumOrigins } = request;
        const _queryParams: Record<string, unknown> = {
            expand: Array.isArray(expand)
                ? expand.map((item) =>
                      serializers.ats.JobsRetrieveRequestExpandItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                      }),
                  )
                : expand != null
                  ? serializers.ats.JobsRetrieveRequestExpandItem.jsonOrThrow(expand, {
                        unrecognizedObjectKeys: "strip",
                    })
                  : undefined,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            remote_fields: remoteFields != null ? remoteFields : undefined,
            show_enum_origins: showEnumOrigins != null ? showEnumOrigins : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `ats/v1/jobs/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ats.Job.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/ats/v1/jobs/{id}");
    }

    /**
     * Returns a list of `ScreeningQuestion` objects.
     *
     * @param {string} job_id
     * @param {Merge.ats.JobsScreeningQuestionsListRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.jobs.screeningQuestionsList("job_id", {
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         pageSize: 1
     *     })
     */
    public async screeningQuestionsList(
        job_id: string,
        request: Merge.ats.JobsScreeningQuestionsListRequest = {},
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.Page<Merge.ats.ScreeningQuestion, Merge.ats.PaginatedScreeningQuestionList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.ats.JobsScreeningQuestionsListRequest,
            ): Promise<core.WithRawResponse<Merge.ats.PaginatedScreeningQuestionList>> => {
                const { cursor, expand, includeDeletedData, includeRemoteData, includeShellData, pageSize } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    expand: Array.isArray(expand)
                        ? expand.map((item) =>
                              serializers.ats.JobsScreeningQuestionsListRequestExpandItem.jsonOrThrow(item, {
                                  unrecognizedObjectKeys: "strip",
                              }),
                          )
                        : expand != null
                          ? serializers.ats.JobsScreeningQuestionsListRequestExpandItem.jsonOrThrow(expand, {
                                unrecognizedObjectKeys: "strip",
                            })
                          : undefined,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_shell_data: includeShellData,
                    page_size: pageSize,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        `ats/v1/jobs/${core.url.encodePathParam(job_id)}/screening-questions`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.ats.PaginatedScreeningQuestionList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/ats/v1/jobs/{job_id}/screening-questions",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.ats.ScreeningQuestion, Merge.ats.PaginatedScreeningQuestionList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }
}
