// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace EmployeePayrollRunsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EmployeePayrollRunsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EmployeePayrollRunsClient.Options>;

    constructor(options: EmployeePayrollRunsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `EmployeePayrollRun` objects.
     *
     * @param {Merge.hris.EmployeePayrollRunsListRequest} request
     * @param {EmployeePayrollRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.hris.employeePayrollRuns.list({
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         employeeId: "employee_id",
     *         endedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         endedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         expand: "employee",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         payrollRunId: "payroll_run_id",
     *         remoteId: "remote_id",
     *         startedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         startedBefore: new Date("2024-01-15T09:30:00.000Z")
     *     })
     */
    public list(
        request: Merge.hris.EmployeePayrollRunsListRequest = {},
        requestOptions?: EmployeePayrollRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.hris.PaginatedEmployeePayrollRunList> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Merge.hris.EmployeePayrollRunsListRequest = {},
        requestOptions?: EmployeePayrollRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.hris.PaginatedEmployeePayrollRunList>> {
        const {
            createdAfter,
            createdBefore,
            cursor,
            employeeId,
            endedAfter,
            endedBefore,
            expand,
            includeDeletedData,
            includeRemoteData,
            includeShellData,
            modifiedAfter,
            modifiedBefore,
            pageSize,
            payrollRunId,
            remoteId,
            startedAfter,
            startedBefore,
        } = request;
        const _queryParams: Record<string, unknown> = {
            created_after: createdAfter?.toISOString(),
            created_before: createdBefore?.toISOString(),
            cursor,
            employee_id: employeeId,
            ended_after: endedAfter?.toISOString(),
            ended_before: endedBefore?.toISOString(),
            expand:
                expand != null
                    ? serializers.hris.EmployeePayrollRunsListRequestExpand.jsonOrThrow(expand, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            modified_after: modifiedAfter?.toISOString(),
            modified_before: modifiedBefore?.toISOString(),
            page_size: pageSize,
            payroll_run_id: payrollRunId,
            remote_id: remoteId,
            started_after: startedAfter?.toISOString(),
            started_before: startedBefore?.toISOString(),
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "hris/v1/employee-payroll-runs",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.hris.PaginatedEmployeePayrollRunList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/hris/v1/employee-payroll-runs",
        );
    }

    /**
     * Returns an `EmployeePayrollRun` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.hris.EmployeePayrollRunsRetrieveRequest} request
     * @param {EmployeePayrollRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.hris.employeePayrollRuns.retrieve("id", {
     *         expand: "employee",
     *         includeRemoteData: true,
     *         includeShellData: true
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.hris.EmployeePayrollRunsRetrieveRequest = {},
        requestOptions?: EmployeePayrollRunsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.hris.EmployeePayrollRun> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.hris.EmployeePayrollRunsRetrieveRequest = {},
        requestOptions?: EmployeePayrollRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.hris.EmployeePayrollRun>> {
        const { expand, includeRemoteData, includeShellData } = request;
        const _queryParams: Record<string, unknown> = {
            expand:
                expand != null
                    ? serializers.hris.EmployeePayrollRunsRetrieveRequestExpand.jsonOrThrow(expand, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `hris/v1/employee-payroll-runs/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.hris.EmployeePayrollRun.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/hris/v1/employee-payroll-runs/{id}",
        );
    }
}
