// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace JournalEntriesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class JournalEntriesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JournalEntriesClient.Options>;

    constructor(options: JournalEntriesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `JournalEntry` objects.
     *
     * @param {Merge.accounting.JournalEntriesListRequest} request
     * @param {JournalEntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.journalEntries.list({
     *         companyId: "company_id",
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteId: "remote_id",
     *         transactionDateAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         transactionDateBefore: new Date("2024-01-15T09:30:00.000Z")
     *     })
     */
    public list(
        request: Merge.accounting.JournalEntriesListRequest = {},
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.PaginatedJournalEntryList> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Merge.accounting.JournalEntriesListRequest = {},
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.PaginatedJournalEntryList>> {
        const {
            companyId,
            createdAfter,
            createdBefore,
            cursor,
            expand,
            includeDeletedData,
            includeRemoteData,
            includeRemoteFields,
            includeShellData,
            modifiedAfter,
            modifiedBefore,
            pageSize,
            remoteId,
            transactionDateAfter,
            transactionDateBefore,
        } = request;
        const _queryParams: Record<string, unknown> = {
            company_id: companyId,
            created_after: createdAfter?.toISOString(),
            created_before: createdBefore?.toISOString(),
            cursor,
            expand: Array.isArray(expand)
                ? expand.map((item) =>
                      serializers.accounting.JournalEntriesListRequestExpandItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                      }),
                  )
                : expand != null
                  ? serializers.accounting.JournalEntriesListRequestExpandItem.jsonOrThrow(expand, {
                        unrecognizedObjectKeys: "strip",
                    })
                  : undefined,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_remote_fields: includeRemoteFields,
            include_shell_data: includeShellData,
            modified_after: modifiedAfter?.toISOString(),
            modified_before: modifiedBefore?.toISOString(),
            page_size: pageSize,
            remote_id: remoteId,
            transaction_date_after: transactionDateAfter?.toISOString(),
            transaction_date_before: transactionDateBefore?.toISOString(),
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/journal-entries",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.PaginatedJournalEntryList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounting/v1/journal-entries",
        );
    }

    /**
     * Creates a `JournalEntry` object with the given values.
     *
     * @param {Merge.accounting.JournalEntryEndpointRequest} request
     * @param {JournalEntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.journalEntries.create({
     *         isDebugMode: true,
     *         runAsync: true,
     *         model: {}
     *     })
     */
    public create(
        request: Merge.accounting.JournalEntryEndpointRequest,
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.JournalEntryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Merge.accounting.JournalEntryEndpointRequest,
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.JournalEntryResponse>> {
        const { isDebugMode, runAsync, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/journal-entries",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.accounting.JournalEntryEndpointRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.JournalEntryResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounting/v1/journal-entries",
        );
    }

    /**
     * Returns a `JournalEntry` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.accounting.JournalEntriesRetrieveRequest} request
     * @param {JournalEntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.journalEntries.retrieve("id", {
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.accounting.JournalEntriesRetrieveRequest = {},
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.JournalEntry> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.accounting.JournalEntriesRetrieveRequest = {},
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.JournalEntry>> {
        const { expand, includeRemoteData, includeRemoteFields, includeShellData } = request;
        const _queryParams: Record<string, unknown> = {
            expand: Array.isArray(expand)
                ? expand.map((item) =>
                      serializers.accounting.JournalEntriesRetrieveRequestExpandItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                      }),
                  )
                : expand != null
                  ? serializers.accounting.JournalEntriesRetrieveRequestExpandItem.jsonOrThrow(expand, {
                        unrecognizedObjectKeys: "strip",
                    })
                  : undefined,
            include_remote_data: includeRemoteData,
            include_remote_fields: includeRemoteFields,
            include_shell_data: includeShellData,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `accounting/v1/journal-entries/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.JournalEntry.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounting/v1/journal-entries/{id}",
        );
    }

    /**
     * Creates a `JournalEntry` object with the given values.
     *
     * @param {Merge.accounting.JournalEntryBulkEndpointRequest} request
     * @param {JournalEntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.journalEntries.asyncBulkCreate({
     *         isDebugMode: true,
     *         runAsync: true,
     *         model: {}
     *     })
     */
    public asyncBulkCreate(
        request: Merge.accounting.JournalEntryBulkEndpointRequest,
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.JournalEntryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__asyncBulkCreate(request, requestOptions));
    }

    private async __asyncBulkCreate(
        request: Merge.accounting.JournalEntryBulkEndpointRequest,
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.JournalEntryResponse>> {
        const { isDebugMode, runAsync, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/journal-entries/async/bulk",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.accounting.JournalEntryBulkEndpointRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.JournalEntryResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounting/v1/journal-entries/async/bulk",
        );
    }

    /**
     * Returns a list of `JournalEntry` objects.
     *
     * @param {string} batch_id
     * @param {Merge.accounting.JournalEntriesBatchObjectsListRequest} request
     * @param {JournalEntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.journalEntries.batchObjectsList("batch_id", {
     *         companyId: "company_id",
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeRemoteFields: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteId: "remote_id",
     *         transactionDateAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         transactionDateBefore: new Date("2024-01-15T09:30:00.000Z")
     *     })
     */
    public batchObjectsList(
        batch_id: string,
        request: Merge.accounting.JournalEntriesBatchObjectsListRequest = {},
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.PaginatedJournalEntryList> {
        return core.HttpResponsePromise.fromPromise(this.__batchObjectsList(batch_id, request, requestOptions));
    }

    private async __batchObjectsList(
        batch_id: string,
        request: Merge.accounting.JournalEntriesBatchObjectsListRequest = {},
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.PaginatedJournalEntryList>> {
        const {
            companyId,
            createdAfter,
            createdBefore,
            cursor,
            expand,
            includeDeletedData,
            includeRemoteData,
            includeRemoteFields,
            includeShellData,
            modifiedAfter,
            modifiedBefore,
            pageSize,
            remoteId,
            transactionDateAfter,
            transactionDateBefore,
        } = request;
        const _queryParams: Record<string, unknown> = {
            company_id: companyId,
            created_after: createdAfter?.toISOString(),
            created_before: createdBefore?.toISOString(),
            cursor,
            expand: Array.isArray(expand)
                ? expand.map((item) =>
                      serializers.accounting.JournalEntriesBatchObjectsListRequestExpandItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                      }),
                  )
                : expand != null
                  ? serializers.accounting.JournalEntriesBatchObjectsListRequestExpandItem.jsonOrThrow(expand, {
                        unrecognizedObjectKeys: "strip",
                    })
                  : undefined,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_remote_fields: includeRemoteFields,
            include_shell_data: includeShellData,
            modified_after: modifiedAfter?.toISOString(),
            modified_before: modifiedBefore?.toISOString(),
            page_size: pageSize,
            remote_id: remoteId,
            transaction_date_after: transactionDateAfter?.toISOString(),
            transaction_date_before: transactionDateBefore?.toISOString(),
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `accounting/v1/journal-entries/batch/${core.url.encodePathParam(batch_id)}/objects`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.PaginatedJournalEntryList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounting/v1/journal-entries/batch/{batch_id}/objects",
        );
    }

    /**
     * Returns a list of `RemoteFieldClass` objects.
     *
     * @param {Merge.accounting.JournalEntriesLinesRemoteFieldClassesListRequest} request
     * @param {JournalEntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.journalEntries.linesRemoteFieldClassesList({
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         isCommonModelField: true,
     *         isCustom: true,
     *         pageSize: 1
     *     })
     */
    public linesRemoteFieldClassesList(
        request: Merge.accounting.JournalEntriesLinesRemoteFieldClassesListRequest = {},
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.PaginatedRemoteFieldClassList> {
        return core.HttpResponsePromise.fromPromise(this.__linesRemoteFieldClassesList(request, requestOptions));
    }

    private async __linesRemoteFieldClassesList(
        request: Merge.accounting.JournalEntriesLinesRemoteFieldClassesListRequest = {},
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.PaginatedRemoteFieldClassList>> {
        const {
            cursor,
            includeDeletedData,
            includeRemoteData,
            includeShellData,
            isCommonModelField,
            isCustom,
            pageSize,
        } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            is_common_model_field: isCommonModelField,
            is_custom: isCustom,
            page_size: pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/journal-entries/lines/remote-field-classes",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.PaginatedRemoteFieldClassList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounting/v1/journal-entries/lines/remote-field-classes",
        );
    }

    /**
     * Returns metadata for `JournalEntry` POSTs.
     *
     * @param {JournalEntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.journalEntries.metaPostRetrieve()
     */
    public metaPostRetrieve(
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.MetaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__metaPostRetrieve(requestOptions));
    }

    private async __metaPostRetrieve(
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.MetaResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/journal-entries/meta/post",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.MetaResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounting/v1/journal-entries/meta/post",
        );
    }

    /**
     * Returns a list of `RemoteFieldClass` objects.
     *
     * @param {Merge.accounting.JournalEntriesRemoteFieldClassesListRequest} request
     * @param {JournalEntriesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.journalEntries.remoteFieldClassesList({
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         isCommonModelField: true,
     *         isCustom: true,
     *         pageSize: 1
     *     })
     */
    public remoteFieldClassesList(
        request: Merge.accounting.JournalEntriesRemoteFieldClassesListRequest = {},
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.PaginatedRemoteFieldClassList> {
        return core.HttpResponsePromise.fromPromise(this.__remoteFieldClassesList(request, requestOptions));
    }

    private async __remoteFieldClassesList(
        request: Merge.accounting.JournalEntriesRemoteFieldClassesListRequest = {},
        requestOptions?: JournalEntriesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.PaginatedRemoteFieldClassList>> {
        const {
            cursor,
            includeDeletedData,
            includeRemoteData,
            includeShellData,
            isCommonModelField,
            isCustom,
            pageSize,
        } = request;
        const _queryParams: Record<string, unknown> = {
            cursor,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            is_common_model_field: isCommonModelField,
            is_custom: isCustom,
            page_size: pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/journal-entries/remote-field-classes",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.PaginatedRemoteFieldClassList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounting/v1/journal-entries/remote-field-classes",
        );
    }
}
