// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace EeocsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EeocsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EeocsClient.Options>;

    constructor(options: EeocsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `EEOC` objects.
     *
     * @param {Merge.ats.EeocsListRequest} request
     * @param {EeocsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.eeocs.list({
     *         candidateId: "candidate_id",
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         expand: "candidate",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteFields: "disability_status",
     *         remoteId: "remote_id",
     *         showEnumOrigins: "disability_status"
     *     })
     */
    public list(
        request: Merge.ats.EeocsListRequest = {},
        requestOptions?: EeocsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ats.PaginatedEeocList> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Merge.ats.EeocsListRequest = {},
        requestOptions?: EeocsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ats.PaginatedEeocList>> {
        const {
            candidateId,
            createdAfter,
            createdBefore,
            cursor,
            expand,
            includeDeletedData,
            includeRemoteData,
            includeShellData,
            modifiedAfter,
            modifiedBefore,
            pageSize,
            remoteFields,
            remoteId,
            showEnumOrigins,
        } = request;
        const _queryParams: Record<string, unknown> = {
            candidate_id: candidateId,
            created_after: createdAfter?.toISOString(),
            created_before: createdBefore?.toISOString(),
            cursor,
            expand: expand != null ? expand : undefined,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            modified_after: modifiedAfter?.toISOString(),
            modified_before: modifiedBefore?.toISOString(),
            page_size: pageSize,
            remote_fields:
                remoteFields != null
                    ? serializers.ats.EeocsListRequestRemoteFields.jsonOrThrow(remoteFields, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            remote_id: remoteId,
            show_enum_origins:
                showEnumOrigins != null
                    ? serializers.ats.EeocsListRequestShowEnumOrigins.jsonOrThrow(showEnumOrigins, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "ats/v1/eeocs",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ats.PaginatedEeocList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/ats/v1/eeocs");
    }

    /**
     * Returns an `EEOC` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.ats.EeocsRetrieveRequest} request
     * @param {EeocsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.ats.eeocs.retrieve("id", {
     *         expand: "candidate",
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         remoteFields: "disability_status",
     *         showEnumOrigins: "disability_status"
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.ats.EeocsRetrieveRequest = {},
        requestOptions?: EeocsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.ats.Eeoc> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.ats.EeocsRetrieveRequest = {},
        requestOptions?: EeocsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.ats.Eeoc>> {
        const { expand, includeRemoteData, includeShellData, remoteFields, showEnumOrigins } = request;
        const _queryParams: Record<string, unknown> = {
            expand: expand != null ? expand : undefined,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            remote_fields:
                remoteFields != null
                    ? serializers.ats.EeocsRetrieveRequestRemoteFields.jsonOrThrow(remoteFields, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            show_enum_origins:
                showEnumOrigins != null
                    ? serializers.ats.EeocsRetrieveRequestShowEnumOrigins.jsonOrThrow(showEnumOrigins, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `ats/v1/eeocs/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ats.Eeoc.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/ats/v1/eeocs/{id}");
    }
}
