// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace BankFeedAccountsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BankFeedAccountsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BankFeedAccountsClient.Options>;

    constructor(options: BankFeedAccountsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `BankFeedAccount` objects.
     *
     * @param {Merge.accounting.BankFeedAccountsListRequest} request
     * @param {BankFeedAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.bankFeedAccounts.list({
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         pageSize: 1
     *     })
     */
    public async list(
        request: Merge.accounting.BankFeedAccountsListRequest = {},
        requestOptions?: BankFeedAccountsClient.RequestOptions,
    ): Promise<core.Page<Merge.accounting.BankFeedAccount, Merge.accounting.PaginatedBankFeedAccountList>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: Merge.accounting.BankFeedAccountsListRequest,
            ): Promise<core.WithRawResponse<Merge.accounting.PaginatedBankFeedAccountList>> => {
                const { cursor, includeDeletedData, includeRemoteData, includeShellData, pageSize } = request;
                const _queryParams: Record<string, unknown> = {
                    cursor,
                    include_deleted_data: includeDeletedData,
                    include_remote_data: includeRemoteData,
                    include_shell_data: includeShellData,
                    page_size: pageSize,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken,
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)) ??
                            environments.MergeEnvironment.Production,
                        "accounting/v1/bank-feed-accounts",
                    ),
                    method: "GET",
                    headers: _headers,
                    queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: serializers.accounting.PaginatedBankFeedAccountList.parseOrThrow(_response.body, {
                            unrecognizedObjectKeys: "passthrough",
                            allowUnrecognizedUnionMembers: true,
                            allowUnrecognizedEnumValues: true,
                            skipValidation: true,
                            breadcrumbsPrefix: ["response"],
                        }),
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    throw new errors.MergeError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/accounting/v1/bank-feed-accounts",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<Merge.accounting.BankFeedAccount, Merge.accounting.PaginatedBankFeedAccountList>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next != null && !(typeof response?.next === "string" && response?.next === ""),
            getItems: (response) => response?.results ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next));
            },
        });
    }

    /**
     * Creates a `BankFeedAccount` object with the given values.
     *
     * @param {Merge.accounting.BankFeedAccountEndpointRequest} request
     * @param {BankFeedAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.bankFeedAccounts.create({
     *         isDebugMode: true,
     *         runAsync: true,
     *         model: {}
     *     })
     */
    public create(
        request: Merge.accounting.BankFeedAccountEndpointRequest,
        requestOptions?: BankFeedAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.BankFeedAccountResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Merge.accounting.BankFeedAccountEndpointRequest,
        requestOptions?: BankFeedAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.BankFeedAccountResponse>> {
        const { isDebugMode, runAsync, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/bank-feed-accounts",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.accounting.BankFeedAccountEndpointRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.BankFeedAccountResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/accounting/v1/bank-feed-accounts",
        );
    }

    /**
     * Returns a `BankFeedAccount` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.accounting.BankFeedAccountsRetrieveRequest} request
     * @param {BankFeedAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.bankFeedAccounts.retrieve("id", {
     *         includeRemoteData: true,
     *         includeShellData: true
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.accounting.BankFeedAccountsRetrieveRequest = {},
        requestOptions?: BankFeedAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.BankFeedAccount> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.accounting.BankFeedAccountsRetrieveRequest = {},
        requestOptions?: BankFeedAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.BankFeedAccount>> {
        const { includeRemoteData, includeShellData } = request;
        const _queryParams: Record<string, unknown> = {
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `accounting/v1/bank-feed-accounts/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.BankFeedAccount.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounting/v1/bank-feed-accounts/{id}",
        );
    }

    /**
     * Returns metadata for `BankFeedAccount` POSTs.
     *
     * @param {BankFeedAccountsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.accounting.bankFeedAccounts.metaPostRetrieve()
     */
    public metaPostRetrieve(
        requestOptions?: BankFeedAccountsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.accounting.MetaResponse> {
        return core.HttpResponsePromise.fromPromise(this.__metaPostRetrieve(requestOptions));
    }

    private async __metaPostRetrieve(
        requestOptions?: BankFeedAccountsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.accounting.MetaResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "accounting/v1/bank-feed-accounts/meta/post",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.accounting.MetaResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/accounting/v1/bank-feed-accounts/meta/post",
        );
    }
}
