// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace AssociationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AssociationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AssociationsClient.Options>;

    constructor(options: AssociationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `Association` objects.
     *
     * @param {string} custom_object_class_id
     * @param {string} object_id
     * @param {Merge.crm.CustomObjectClassesCustomObjectsAssociationsListRequest} request
     * @param {AssociationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.associations.customObjectClassesCustomObjectsAssociationsList("custom_object_class_id", "object_id", {
     *         associationTypeId: "association_type_id",
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         expand: "association_type",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteId: "remote_id"
     *     })
     */
    public customObjectClassesCustomObjectsAssociationsList(
        custom_object_class_id: string,
        object_id: string,
        request: Merge.crm.CustomObjectClassesCustomObjectsAssociationsListRequest = {},
        requestOptions?: AssociationsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.PaginatedAssociationList> {
        return core.HttpResponsePromise.fromPromise(
            this.__customObjectClassesCustomObjectsAssociationsList(
                custom_object_class_id,
                object_id,
                request,
                requestOptions,
            ),
        );
    }

    private async __customObjectClassesCustomObjectsAssociationsList(
        custom_object_class_id: string,
        object_id: string,
        request: Merge.crm.CustomObjectClassesCustomObjectsAssociationsListRequest = {},
        requestOptions?: AssociationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.PaginatedAssociationList>> {
        const {
            associationTypeId,
            createdAfter,
            createdBefore,
            cursor,
            expand,
            includeDeletedData,
            includeRemoteData,
            includeShellData,
            modifiedAfter,
            modifiedBefore,
            pageSize,
            remoteId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            association_type_id: associationTypeId,
            created_after: createdAfter?.toISOString(),
            created_before: createdBefore?.toISOString(),
            cursor,
            expand: expand != null ? expand : undefined,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            modified_after: modifiedAfter?.toISOString(),
            modified_before: modifiedBefore?.toISOString(),
            page_size: pageSize,
            remote_id: remoteId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `crm/v1/custom-object-classes/${core.url.encodePathParam(custom_object_class_id)}/custom-objects/${core.url.encodePathParam(object_id)}/associations`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.PaginatedAssociationList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/crm/v1/custom-object-classes/{custom_object_class_id}/custom-objects/{object_id}/associations",
        );
    }

    /**
     * Creates an Association between `source_object_id` and `target_object_id` of type `association_type_id`.
     *
     * @param {string} source_class_id
     * @param {string} source_object_id
     * @param {string} target_class_id
     * @param {string} target_object_id
     * @param {string} association_type_id
     * @param {Merge.crm.CustomObjectClassesCustomObjectsAssociationsUpdateRequest} request
     * @param {AssociationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.associations.customObjectClassesCustomObjectsAssociationsUpdate("source_class_id", "source_object_id", "target_class_id", "target_object_id", "association_type_id", {
     *         isDebugMode: true,
     *         runAsync: true
     *     })
     */
    public customObjectClassesCustomObjectsAssociationsUpdate(
        source_class_id: string,
        source_object_id: string,
        target_class_id: string,
        target_object_id: string,
        association_type_id: string,
        request: Merge.crm.CustomObjectClassesCustomObjectsAssociationsUpdateRequest = {},
        requestOptions?: AssociationsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.Association> {
        return core.HttpResponsePromise.fromPromise(
            this.__customObjectClassesCustomObjectsAssociationsUpdate(
                source_class_id,
                source_object_id,
                target_class_id,
                target_object_id,
                association_type_id,
                request,
                requestOptions,
            ),
        );
    }

    private async __customObjectClassesCustomObjectsAssociationsUpdate(
        source_class_id: string,
        source_object_id: string,
        target_class_id: string,
        target_object_id: string,
        association_type_id: string,
        request: Merge.crm.CustomObjectClassesCustomObjectsAssociationsUpdateRequest = {},
        requestOptions?: AssociationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.Association>> {
        const { isDebugMode, runAsync } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `crm/v1/custom-object-classes/${core.url.encodePathParam(source_class_id)}/custom-objects/${core.url.encodePathParam(source_object_id)}/associations/${core.url.encodePathParam(target_class_id)}/${core.url.encodePathParam(target_object_id)}/${core.url.encodePathParam(association_type_id)}`,
            ),
            method: "PUT",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.Association.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/crm/v1/custom-object-classes/{source_class_id}/custom-objects/{source_object_id}/associations/{target_class_id}/{target_object_id}/{association_type_id}",
        );
    }
}
