// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace AssociationTypesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AssociationTypesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AssociationTypesClient.Options>;

    constructor(options: AssociationTypesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `AssociationType` objects.
     *
     * @param {string} custom_object_class_id
     * @param {Merge.crm.CustomObjectClassesAssociationTypesListRequest} request
     * @param {AssociationTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.associationTypes.customObjectClassesAssociationTypesList("custom_object_class_id", {
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         expand: "target_object_classes",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         pageSize: 1,
     *         remoteId: "remote_id"
     *     })
     */
    public customObjectClassesAssociationTypesList(
        custom_object_class_id: string,
        request: Merge.crm.CustomObjectClassesAssociationTypesListRequest = {},
        requestOptions?: AssociationTypesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.PaginatedAssociationTypeList> {
        return core.HttpResponsePromise.fromPromise(
            this.__customObjectClassesAssociationTypesList(custom_object_class_id, request, requestOptions),
        );
    }

    private async __customObjectClassesAssociationTypesList(
        custom_object_class_id: string,
        request: Merge.crm.CustomObjectClassesAssociationTypesListRequest = {},
        requestOptions?: AssociationTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.PaginatedAssociationTypeList>> {
        const {
            createdAfter,
            createdBefore,
            cursor,
            expand,
            includeDeletedData,
            includeRemoteData,
            includeShellData,
            modifiedAfter,
            modifiedBefore,
            pageSize,
            remoteId,
        } = request;
        const _queryParams: Record<string, unknown> = {
            created_after: createdAfter?.toISOString(),
            created_before: createdBefore?.toISOString(),
            cursor,
            expand: expand != null ? expand : undefined,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            modified_after: modifiedAfter?.toISOString(),
            modified_before: modifiedBefore?.toISOString(),
            page_size: pageSize,
            remote_id: remoteId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `crm/v1/custom-object-classes/${core.url.encodePathParam(custom_object_class_id)}/association-types`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.PaginatedAssociationTypeList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/crm/v1/custom-object-classes/{custom_object_class_id}/association-types",
        );
    }

    /**
     * Creates an `AssociationType` object with the given values.
     *
     * @param {string} custom_object_class_id
     * @param {Merge.crm.CrmAssociationTypeEndpointRequest} request
     * @param {AssociationTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.associationTypes.customObjectClassesAssociationTypesCreate("custom_object_class_id", {
     *         isDebugMode: true,
     *         runAsync: true,
     *         model: {
     *             sourceObjectClass: {
     *                 id: "id",
     *                 originType: "CUSTOM_OBJECT"
     *             },
     *             targetObjectClasses: [{
     *                     id: "id",
     *                     originType: "CUSTOM_OBJECT"
     *                 }],
     *             remoteKeyName: "remote_key_name"
     *         }
     *     })
     */
    public customObjectClassesAssociationTypesCreate(
        custom_object_class_id: string,
        request: Merge.crm.CrmAssociationTypeEndpointRequest,
        requestOptions?: AssociationTypesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.CrmAssociationTypeResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__customObjectClassesAssociationTypesCreate(custom_object_class_id, request, requestOptions),
        );
    }

    private async __customObjectClassesAssociationTypesCreate(
        custom_object_class_id: string,
        request: Merge.crm.CrmAssociationTypeEndpointRequest,
        requestOptions?: AssociationTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.CrmAssociationTypeResponse>> {
        const { isDebugMode, runAsync, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            is_debug_mode: isDebugMode,
            run_async: runAsync,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `crm/v1/custom-object-classes/${core.url.encodePathParam(custom_object_class_id)}/association-types`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: serializers.crm.CrmAssociationTypeEndpointRequest.jsonOrThrow(_body, {
                unrecognizedObjectKeys: "strip",
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.CrmAssociationTypeResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/crm/v1/custom-object-classes/{custom_object_class_id}/association-types",
        );
    }

    /**
     * Returns an `AssociationType` object with the given `id`.
     *
     * @param {string} custom_object_class_id
     * @param {string} id
     * @param {Merge.crm.CustomObjectClassesAssociationTypesRetrieveRequest} request
     * @param {AssociationTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.associationTypes.customObjectClassesAssociationTypesRetrieve("custom_object_class_id", "id", {
     *         expand: "target_object_classes",
     *         includeRemoteData: true,
     *         includeShellData: true
     *     })
     */
    public customObjectClassesAssociationTypesRetrieve(
        custom_object_class_id: string,
        id: string,
        request: Merge.crm.CustomObjectClassesAssociationTypesRetrieveRequest = {},
        requestOptions?: AssociationTypesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.AssociationType> {
        return core.HttpResponsePromise.fromPromise(
            this.__customObjectClassesAssociationTypesRetrieve(custom_object_class_id, id, request, requestOptions),
        );
    }

    private async __customObjectClassesAssociationTypesRetrieve(
        custom_object_class_id: string,
        id: string,
        request: Merge.crm.CustomObjectClassesAssociationTypesRetrieveRequest = {},
        requestOptions?: AssociationTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.AssociationType>> {
        const { expand, includeRemoteData, includeShellData } = request;
        const _queryParams: Record<string, unknown> = {
            expand: expand != null ? expand : undefined,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `crm/v1/custom-object-classes/${core.url.encodePathParam(custom_object_class_id)}/association-types/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.AssociationType.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/crm/v1/custom-object-classes/{custom_object_class_id}/association-types/{id}",
        );
    }

    /**
     * Returns metadata for `CRMAssociationType` POSTs.
     *
     * @param {string} custom_object_class_id
     * @param {AssociationTypesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.crm.associationTypes.customObjectClassesAssociationTypesMetaPostRetrieve("custom_object_class_id")
     */
    public customObjectClassesAssociationTypesMetaPostRetrieve(
        custom_object_class_id: string,
        requestOptions?: AssociationTypesClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.crm.MetaResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__customObjectClassesAssociationTypesMetaPostRetrieve(custom_object_class_id, requestOptions),
        );
    }

    private async __customObjectClassesAssociationTypesMetaPostRetrieve(
        custom_object_class_id: string,
        requestOptions?: AssociationTypesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.crm.MetaResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `crm/v1/custom-object-classes/${core.url.encodePathParam(custom_object_class_id)}/association-types/meta/post`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.crm.MetaResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/crm/v1/custom-object-classes/{custom_object_class_id}/association-types/meta/post",
        );
    }
}
