// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient";
import * as core from "../../../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers";
import * as environments from "../../../../../../environments";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../../../errors/index";
import * as serializers from "../../../../../../serialization/index";
import type * as Merge from "../../../../../index";

export declare namespace EmploymentsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EmploymentsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EmploymentsClient.Options>;

    constructor(options: EmploymentsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a list of `Employment` objects.
     *
     * @param {Merge.hris.EmploymentsListRequest} request
     * @param {EmploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.hris.employments.list({
     *         createdAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         createdBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         cursor: "cD0yMDIxLTAxLTA2KzAzJTNBMjQlM0E1My40MzQzMjYlMkIwMCUzQTAw",
     *         employeeId: "employee_id",
     *         includeDeletedData: true,
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         modifiedAfter: new Date("2024-01-15T09:30:00.000Z"),
     *         modifiedBefore: new Date("2024-01-15T09:30:00.000Z"),
     *         orderBy: "-effective_date",
     *         pageSize: 1,
     *         remoteFields: "employment_type",
     *         remoteId: "remote_id",
     *         showEnumOrigins: "employment_type"
     *     })
     */
    public list(
        request: Merge.hris.EmploymentsListRequest = {},
        requestOptions?: EmploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.hris.PaginatedEmploymentList> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Merge.hris.EmploymentsListRequest = {},
        requestOptions?: EmploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.hris.PaginatedEmploymentList>> {
        const {
            createdAfter,
            createdBefore,
            cursor,
            employeeId,
            expand,
            includeDeletedData,
            includeRemoteData,
            includeShellData,
            modifiedAfter,
            modifiedBefore,
            orderBy,
            pageSize,
            remoteFields,
            remoteId,
            showEnumOrigins,
        } = request;
        const _queryParams: Record<string, unknown> = {
            created_after: createdAfter?.toISOString(),
            created_before: createdBefore?.toISOString(),
            cursor,
            employee_id: employeeId,
            expand: Array.isArray(expand)
                ? expand.map((item) =>
                      serializers.hris.EmploymentsListRequestExpandItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                      }),
                  )
                : expand != null
                  ? serializers.hris.EmploymentsListRequestExpandItem.jsonOrThrow(expand, {
                        unrecognizedObjectKeys: "strip",
                    })
                  : undefined,
            include_deleted_data: includeDeletedData,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            modified_after: modifiedAfter?.toISOString(),
            modified_before: modifiedBefore?.toISOString(),
            order_by:
                orderBy != null
                    ? serializers.hris.EmploymentsListRequestOrderBy.jsonOrThrow(orderBy, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            page_size: pageSize,
            remote_fields:
                remoteFields != null
                    ? serializers.hris.EmploymentsListRequestRemoteFields.jsonOrThrow(remoteFields, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            remote_id: remoteId,
            show_enum_origins:
                showEnumOrigins != null
                    ? serializers.hris.EmploymentsListRequestShowEnumOrigins.jsonOrThrow(showEnumOrigins, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                "hris/v1/employments",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.hris.PaginatedEmploymentList.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/hris/v1/employments");
    }

    /**
     * Returns an `Employment` object with the given `id`.
     *
     * @param {string} id
     * @param {Merge.hris.EmploymentsRetrieveRequest} request
     * @param {EmploymentsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.hris.employments.retrieve("id", {
     *         includeRemoteData: true,
     *         includeShellData: true,
     *         remoteFields: "employment_type",
     *         showEnumOrigins: "employment_type"
     *     })
     */
    public retrieve(
        id: string,
        request: Merge.hris.EmploymentsRetrieveRequest = {},
        requestOptions?: EmploymentsClient.RequestOptions,
    ): core.HttpResponsePromise<Merge.hris.Employment> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, request, requestOptions));
    }

    private async __retrieve(
        id: string,
        request: Merge.hris.EmploymentsRetrieveRequest = {},
        requestOptions?: EmploymentsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Merge.hris.Employment>> {
        const { expand, includeRemoteData, includeShellData, remoteFields, showEnumOrigins } = request;
        const _queryParams: Record<string, unknown> = {
            expand: Array.isArray(expand)
                ? expand.map((item) =>
                      serializers.hris.EmploymentsRetrieveRequestExpandItem.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                      }),
                  )
                : expand != null
                  ? serializers.hris.EmploymentsRetrieveRequestExpandItem.jsonOrThrow(expand, {
                        unrecognizedObjectKeys: "strip",
                    })
                  : undefined,
            include_remote_data: includeRemoteData,
            include_shell_data: includeShellData,
            remote_fields:
                remoteFields != null
                    ? serializers.hris.EmploymentsRetrieveRequestRemoteFields.jsonOrThrow(remoteFields, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
            show_enum_origins:
                showEnumOrigins != null
                    ? serializers.hris.EmploymentsRetrieveRequestShowEnumOrigins.jsonOrThrow(showEnumOrigins, {
                          unrecognizedObjectKeys: "strip",
                      })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Account-Token": requestOptions?.accountToken ?? this._options?.accountToken }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.MergeEnvironment.Production,
                `hris/v1/employments/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.hris.Employment.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.MergeError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/hris/v1/employments/{id}");
    }
}
